Options -Indexes
RewriteEngine On
RewriteBase /

# Permitir acesso a arquivos existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar tudo para o React
RewriteRule ^ index.html [QSA,L]
